<p>
  <%= link_to "Back", products_path, class: "btn btn-secondary mb-3" %>
</p>

<section class="product">
  <div class="row">
    <% if @product.featured_image.attached? %>
      <div class="col-md-6">
        <%= image_tag @product.featured_image, class: "img-fluid rounded shadow" %>
      </div>
    <% end %>

    <div class="col-md-6">
      <section class="product-info">
        <% cache @product do %>
          <h1 class="h3"><%= @product.name %></h1>
          <p><%= @product.description %></p>
        <% end %>

        <%= render "inventory", product: @product %>

        <% if authenticated? %>
          <div class="mt-3">
            <%= link_to "Edit", edit_product_path(@product), class: "btn btn-primary me-2" %>
            <%= button_to "Destroy", @product, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</section>
